In [12]:
import glob
import pandas as pd

In [10]:
flights = glob.glob('FLIGHTS/*.csv')
# DEBS = glob.glob(‘tmp/DEBS/*.csv’)
# FBPosts = glob.glob(‘tmp/FBPosts/*.csv’)
dirty_flights = []
clean_flights = []
for f in flights:
   if 'dirty' in f:
       dirty_flights.append(f)
   else:
       clean_flights.append(f)

In [11]:
dirty_flights

['FLIGHTS/FLIGHTS_dirty_734500.csv',
 'FLIGHTS/FLIGHTS_dirty_734474.csv',
 'FLIGHTS/FLIGHTS_dirty_734475.csv',
 'FLIGHTS/FLIGHTS_dirty_734501.csv',
 'FLIGHTS/FLIGHTS_dirty_734503.csv',
 'FLIGHTS/FLIGHTS_dirty_734488.csv',
 'FLIGHTS/FLIGHTS_dirty_734476.csv',
 'FLIGHTS/FLIGHTS_dirty_734489.csv',
 'FLIGHTS/FLIGHTS_dirty_734502.csv',
 'FLIGHTS/FLIGHTS_dirty_734499.csv',
 'FLIGHTS/FLIGHTS_dirty_734472.csv',
 'FLIGHTS/FLIGHTS_dirty_734473.csv',
 'FLIGHTS/FLIGHTS_dirty_734498.csv',
 'FLIGHTS/FLIGHTS_dirty_734505.csv',
 'FLIGHTS/FLIGHTS_dirty_734504.csv',
 'FLIGHTS/FLIGHTS_dirty_734482.csv',
 'FLIGHTS/FLIGHTS_dirty_734496.csv',
 'FLIGHTS/FLIGHTS_dirty_734497.csv',
 'FLIGHTS/FLIGHTS_dirty_734483.csv',
 'FLIGHTS/FLIGHTS_dirty_734495.csv',
 'FLIGHTS/FLIGHTS_dirty_734481.csv',
 'FLIGHTS/FLIGHTS_dirty_734480.csv',
 'FLIGHTS/FLIGHTS_dirty_734490.csv',
 'FLIGHTS/FLIGHTS_dirty_734484.csv',
 'FLIGHTS/FLIGHTS_dirty_734485.csv',
 'FLIGHTS/FLIGHTS_dirty_734491.csv',
 'FLIGHTS/FLIGHTS_dirty_734487.csv',
 'FLIGHTS/FLIGHTS_dirty_734493.csv',
 'FLIGHTS/FLIGHTS_dirty_734478.csv',
 'FLIGHTS/FLIGHTS_dirty_734479.csv',
 'FLIGHTS/FLIGHTS_dirty_734486.csv']

In [15]:
flights_dirty = pd.read_csv('FLIGHTS/FLIGHTS_dirty_734472.csv')
flights_dirty

,RowId,Source,Flight,ScheduledDeparture,ActualDeparture,DepartureGate,ScheduledArrival,ActualArrival,ArrivalGate,date
0,0,ua,UA-2708-EWR-CLT,Thu_ Dec 1 2:55 PM,Thu_ Dec 1 2:55 PM,A37,Thu_ Dec 1 4:53 PM,Thu_ Dec 1 4:44 PM,C5,734472
1,1,airtravelcenter,UA-2708-EWR-CLT,NaN,12/1/11 3:04 PM (-05:00),NaN,NaN,12/1/11 4:22 PM (-05:00),NaN,734472
2,2,myrateplan,UA-2708-EWR-CLT,NaN,12/1/11 3:04 PM (-05:00),NaN,NaN,12/1/11 4:22 PM (-05:00),NaN,734472
3,3,helloflight,UA-2708-EWR-CLT,NaN,12/1/11 3:04 PM (-05:00),NaN,NaN,12/1/11 4:22 PM (-05:00),NaN,734472
4,4,flytecomm,UA-2708-EWR-CLT,NaN,12/1/11 3:04 PM (-05:00),NaN,NaN,12/1/11 4:22 PM (-05:00),NaN,734472
...,...,...,...,...,...,...,...,...,...,...
2562,2562,foxbusiness,CO-52-IAH-LAX,NaN,7:56 AMDec 01,NaN,NaN,9:09 AMDec 01,NaN,734472
2563,2563,allegiantair,CO-52-IAH-LAX,NaN,7:56 AMDec 01,NaN,NaN,9:09 AMDec 01,NaN,734472
2564,2564,boston,CO-52-IAH-LAX,NaN,7:56 AMDec 01,NaN,NaN,9:09 AMDec 01,NaN,734472
2565,2565,orbitz,CO-52-IAH-LAX,7:35aDec 1,NaN,-,9:21aDec 2,NaN,-,734472
2566,2566,flightarrival,CO-52-IAH-LAX,NaN,7:56 AMDec 01,NaN,NaN,9:09 AMDec 01,NaN,734472

In [16]:
flights_clean = pd.read_csv('FLIGHTS/FLIGHTS_clean_734472.csv')
flights_clean

,RowId,Source,Flight,ScheduledDeparture,ActualDeparture,DepartureGate,ScheduledArrival,ActualArrival,ArrivalGate,for_key,date
0,0,ua,UA-2708-EWR-CLT,Thu_ Dec 1 2:55 PM,Thu_ Dec 1 2:55 PM,A37,Thu_ Dec 1 4:53 PM,Thu_ Dec 1 4:44 PM,C5,Thu_ Dec 1 2:55 PM,734472
1,1,airtravelcenter,UA-2708-EWR-CLT,Thu_ Dec 1 2:55 PM,Thu_ Dec 1 2:55 PM,A37,Thu_ Dec 1 4:53 PM,Thu_ Dec 1 4:44 PM,C5,Thu_ Dec 1 2:55 PM,734472
2,2,myrateplan,UA-2708-EWR-CLT,Thu_ Dec 1 2:55 PM,Thu_ Dec 1 2:55 PM,A37,Thu_ Dec 1 4:53 PM,Thu_ Dec 1 4:44 PM,C5,Thu_ Dec 1 2:55 PM,734472
3,3,helloflight,UA-2708-EWR-CLT,Thu_ Dec 1 2:55 PM,Thu_ Dec 1 2:55 PM,A37,Thu_ Dec 1 4:53 PM,Thu_ Dec 1 4:44 PM,C5,Thu_ Dec 1 2:55 PM,734472
4,4,flytecomm,UA-2708-EWR-CLT,Thu_ Dec 1 2:55 PM,Thu_ Dec 1 2:55 PM,A37,Thu_ Dec 1 4:53 PM,Thu_ Dec 1 4:44 PM,C5,Thu_ Dec 1 2:55 PM,734472
...,...,...,...,...,...,...,...,...,...,...,...
2562,2562,foxbusiness,CO-52-IAH-LAX,Thu._ Dec.01_ 2011 7:35 a.m.,Thu._ Dec.01_ 2011 7:29 a.m.,NaN,Thu._ Dec.01_ 2011 9:21 a.m.,Thu._ Dec.01_ 2011 9:14 a.m.,NaN,Thu._ Dec.01_ 2011 7:35 a.m.,734472
2563,2563,allegiantair,CO-52-IAH-LAX,Thu._ Dec.01_ 2011 7:35 a.m.,Thu._ Dec.01_ 2011 7:29 a.m.,NaN,Thu._ Dec.01_ 2011 9:21 a.m.,Thu._ Dec.01_ 2011 9:14 a.m.,NaN,Thu._ Dec.01_ 2011 7:35 a.m.,734472
2564,2564,boston,CO-52-IAH-LAX,Thu._ Dec.01_ 2011 7:35 a.m.,Thu._ Dec.01_ 2011 7:29 a.m.,NaN,Thu._ Dec.01_ 2011 9:21 a.m.,Thu._ Dec.01_ 2011 9:14 a.m.,NaN,Thu._ Dec.01_ 2011 7:35 a.m.,734472
2565,2565,orbitz,CO-52-IAH-LAX,Thu._ Dec.01_ 2011 7:35 a.m.,Thu._ Dec.01_ 2011 7:29 a.m.,NaN,Thu._ Dec.01_ 2011 9:21 a.m.,Thu._ Dec.01_ 2011 9:14 a.m.,NaN,Thu._ Dec.01_ 2011 7:35 a.m.,734472
2566,2566,flightarrival,CO-52-IAH-LAX,Thu._ Dec.01_ 2011 7:35 a.m.,Thu._ Dec.01_ 2011 7:29 a.m.,NaN,Thu._ Dec.01_ 2011 9:21 a.m.,Thu._ Dec.01_ 2011 9:14 a.m.,NaN,Thu._ Dec.01_ 2011 7:35 a.m.,734472